streamlit
langchain
langchain-community
langchain-ollama
langchain-classic
langchain-chroma
langgraph
langgraph-checkpoint-mysql[pymysql]
pymysql
fastapi
uvicorn
python-multipart
pypdf
pdfplumber
docx2txt
unstructured
sentence-transformers
chromadb
requests